body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home,
.detail {
  max-width: 1200px;
  margin: 0 auto;
}

.available-class {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.class-card {
  border: 1px solid;
  border-radius: 8px;
  padding: 8px;
}
